BasedOnStyle: LLVM
IndentWidth: 2
BinPackParameters: false
BinPackArguments: false 
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: true
IndentCaseLabels: false
